<!doctype html>
<html>
  <head>
    <title>Dimitri Malignan</title>
    <meta name="description" content="Dimitri Malignan Pianiste français né en 1998, Prix Cortot de l'Ecole Normale de Musique de Paris à 19 ans, lauréat de nombreux concours internationaux de piano">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
