<!doctype html>
<html>
  <head>

    <title>Dimitri Malignan</title>
    <meta id="metaDesc" name="description" content="Dimitri Malignan Pianiste français né en 1998, Prix Cortot de l'Ecole Normale de Musique de Paris à 19 ans, lauréat de nombreux concours internationaux de piano">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta id="metaOgUrl" property="og:url" content="">
    <meta id="metaOgTitle" property="og:title" content="">
    <meta id="metaOgDesc" property="og:description" content="">
    <meta id="metaOgImg" property="og:image" content="">

    <meta id="metaFbId" property="fb:app_id" content="119561851975826">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49448583-2', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
