@import '../../style/variables';
@import '../../style/media-queries';

.Agenda {
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      padding: $paragraph-margin 0;
      border-bottom: 1px solid $separator-color;

      @include sizeMobile {
        display: block;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      &-info {
        flex-grow: 1;
      }

      &-title {
        margin-bottom: 10px;
        color: $accent-color;
        text-align: center;
      }

      &-location {
        text-align: center;
      }

      &-date {
        text-align: right;
      }

      &-type {
        text-transform: uppercase;
      }

      &-date,
      &-type {
        width: 25%;
        font-size: 14px;

        @include sizeMobile {
          width: auto;
          text-align: center;
        }
      }

      &-type,
      &-location,
      &-date {
        @include sizeMobile {
          margin-bottom: 10px;
        }
      }
    }
  }
}
