@import '../../style/variables';
@import '../../style/media-queries';

.Contact {
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &-link {
      flex-basis: 25%;
      padding: $paragraph-margin * 1.5;
      box-sizing: border-box;

      @include sizeMobile {
        flex-basis: 51%;
        padding: $paragraph-margin;
      }

      a {
        display: block;

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }

  &-info {
    p {
      text-align: center;
      font-style: italic;
    }
  }
}
