@import '../../style/variables';
@import '../../style/media-queries';

.Contact {
  &-main {
    text-align: center;
  }

  &-sub {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    a {
      margin: 0 10px;
    }

    img {
      display: block;
      height: 40px;
      width: 40px;
    }
  }

  &-info {
    p {
      text-align: center;
      font-style: italic;
      font-size: 14px;
    }
  }
}
