@import '../../style/variables';
@import '../../style/media-queries';

.ContentPanel {
  padding: $paragraph-margin * 2;
  margin-bottom: $paragraph-margin * 2;
  background: $panel-content-bg;

  @include sizeMobile {
    padding: $paragraph-margin;
    margin-bottom: $paragraph-margin;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
