@import '../../style/variables';
@import '../../style/media-queries';
@import '../../style/fonts';

.Presse {
  &-article {
    padding: $paragraph-margin 0;
    border-bottom: 1px solid $separator-color;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &-header {
      margin-bottom: $paragraph-margin;

      &-separator {
        @include sizeMobile {
          display: none;
        }
      }
    }

    &-content {
      margin: 0;
      padding-left: $paragraph-margin;
      border-left: 1px solid transparentize($accent-color, 0.5);
    }

    &-source,
    &-author,
    &-date {
      @include sizeMobile {
        display: block;
        text-align: center;
      }
    }

    &-source {
      color: $accent-color;
    }

    &-author {
      font-style: italic;
    }

    &-date {
      float: right;
      font-size: 14px;

      @include sizeMobile {
        float: none;
      }
    }
  }
}
