@import '../../style/fonts';
@import '../../style/media-queries';
@import '../../style/variables';

.HomeAlert {
  text-align: center;

  &-text {
    margin: 0 auto ($paragraph-margin);
    font-style: italic;
    text-align: center;

    @include sizeMobile {
      max-width: 100%;
    }
  }

  &-img {
    margin-bottom: $paragraph-margin;

    img {
      width: 400px;

      @include sizeMobile {
        width: 100%;
      }
    }
  }

  &-body {
    &-links {
      display: flex;
      justify-content: center;

      @include sizeMobile {
        display: initial;
      }

      a {
        display: block;
        margin: 0 calc($paragraph-margin / 2);
        text-decoration: none;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        @include sizeMobile {
          width: 100%;
          margin: 0;

          &:not(:last-child) {
            margin-bottom: calc($paragraph-margin / 2);
          }
        }
      }
    }
  }
}
