@import '../../style/variables';
@import '../../style/media-queries';

$video-width: 75%;
$video-width-mobile: 100%;

.Media {

  .Videos {

    &-list {

      &-item {

        &-link {
          display: block;
          margin-bottom: $paragraph-margin;
          text-align: center;
          color: $accent-color;
        }

        &-wrapper {
          position: relative;
          width: $video-width;
          padding-bottom: 9 / 16 * $video-width;
          margin: 0 auto ($paragraph-margin * 2);

          @include sizeMobile {
            width: $video-width-mobile;
            padding-bottom: 9 / 16 * $video-width-mobile;
          }

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
          }
        }
      }
    }
  }
}
