@import '../../style/variables';
@import '../../style/media-queries';

$video-width: 75%;
$video-width-mobile: 100%;

.Media {

  .Video {

    &-wrapper {
      width: 75%;
      margin: 0 auto ($paragraph-margin * 2);

      @include sizeMobile {
        width: 100%;
      }
    }
  }
}
