@import '../../style/fonts';
@import '../../style/media-queries';
@import '../../style/variables';

.Header {
  position: relative;
  text-align: center;

  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $logo-height;
    @include fontLogo;
    text-align: center;
    font-size: 50px;
    white-space: nowrap;

    @include sizeMobile {
      width: 200px;
      margin: 10px auto;
      font-size: 28px;
      height: $logo-height-mobile - 20px;
      white-space: normal;
    }

    a {
      color: $text-color;
      text-decoration: none;
    }
  }
}
