@import 'animations';
@import 'fonts';
@import 'variables';
@import 'media-queries';

* {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  height: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  background-image: url('/images/background.jpg');
  background-color: $bg-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-color;
}

#app {
  @include fontText;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $app-padding;

  @include sizeMobile {
    padding: 0 $app-padding_mobile;
  }
}

#content {
  flex-grow: 1;
  margin-top: 4vh;
  padding: 0 $app-padding;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;

  @include sizeMobile {
    margin-top: 0;
    padding: 0 $app-padding_mobile;
  }

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: $panel-content-bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent-color;
  }
}

h1 {
  @include fontTitle;
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 50px;
  text-align: center;

  @include sizeMobile {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

h2 {
  margin: 0 0 $paragraph-margin;
  font-size: 16px;
  font-weight: normal;
}

p {
  margin: 0 0 $paragraph-margin;
  text-align: justify;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $accent-color;
}
