@import '../../style/fonts';
@import '../../style/variables';
@import '../../style/media-queries';

$brg: 39px;
$brg-padding: 10px;
$brg-nb: 3;

.Nav {
  text-align: center;

  &-burger {
    @include sizeMobile {
      position: absolute;
      top: ($logo-height-mobile - $brg) / 2;
      right: $app-padding;
      width: $brg;
      height: $brg;
      padding: $brg-padding;
      border: 1px solid $accent-color;
      box-sizing: border-box;
      cursor: pointer;

      div {
        display: block;
        height: 1px;
        margin-bottom: (($brg - ($brg-padding*2) - $brg-nb) / ($brg-nb - 1)) - 1;
        background-color: $accent-color;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include sizeMobile {
      display: none;
    }

    &-item {
      position: relative;
      display: inline-block;
      margin: 0 10px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;
        height: 1px;
        background: $text-color;
        transition: background-color $duration-fast, left $duration-fast, right $duration-fast;
      }

      a {
        transition: color $duration-fast;
      }

      &:hover {
        &:after {
          left: 0;
          right: 0;
        }
      }

      &.active {
        &:after {
          left: 0;
          right: 0;
          background-color: $accent-color;
        }

        a {
          color: $accent-color;
        }
      }

      &-link {
        @include fontTitle;
        display: block;
        padding: 10px 15px;
        color: $text-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
      }
    }

    &.mobile {
      display: block;
    }

    &.mobile > &-item {
      display: block;

      &:after {
        content: none;
      }

      a {
        font-size: 28px;
      }
    }
  }

  &-lang {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
