// colors
$bg-color: #00000a;
$text-color: #fafafa;
$accent-color: #90caf9;
$accent-color-dark: darken($accent-color, 60%);
$panel-content-bg: rgba(0, 0, 0, .8);
$overlay-bg: rgba(0, 0, 0, .9);
$separator-color: rgba(255, 255, 255, .25);
$spotify-color: #1db954;
$spotify-color-hover: #1ed760;

// sizes
$app-padding: 3%;
$logo-height: 120px;
$logo-height-mobile: 80px;
$paragraph-margin: 20px;

// durations
$duration-fast: 300ms;
$duration-medium: 500ms;
