// colors
$bg-color: #000;
$text-color: #fafafa;
$accent-color: #f3ca80;
$panel-content-bg: transparentize($bg-color, 0.2);
$overlay-bg: transparentize($bg-color, 0.1);
$separator-color: rgba(255, 255, 255, 0.25);
$spotify-color: #1db954;
$spotify-color-hover: #1ed760;

// sizes
$app-padding: 3%;
$logo-height: 120px;
$logo-height-mobile: 80px;
$paragraph-margin: 20px;

// durations
$duration-fast: 300ms;
$duration-medium: 500ms;
