@import 'animations';
@import 'fonts';
@import 'variables';
@import 'media-queries';

html,
body,
#root,
#app {
  height: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  background-image: url('../images/background.jpg');
  background-color: $bg-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: $text-color;
}

#app {
  @include fontText;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 3%;

  #content {
    flex-grow: 1;
    margin-top: 4vh;
    padding: 0 5%;
    font-size: 16px;
    line-height: 22px;
    overflow-y: auto;
    overflow-x: hidden;

    @include sizeMobile {
      margin-top: 0;
      padding: 0;
      font-size: 14px;
      line-height: 18px;
    }

    h1 {
      @include fontTitle;
      margin: 0 0 40px;
      font-size: 36px;
      line-height: 50px;
      text-align: center;

      @include sizeMobile {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }

    p {
      margin: 0 0 20px;
      text-align: justify;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #footer {
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
    opacity: .75;
  }
}
