@import '../../style/variables';
@import '../../style/media-queries';

$spacing: 20px;

.Gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 (-$spacing) (-$spacing) 0;

  @include sizeMobile {
    margin-right: 0;
  }

  &-item {
    width: calc(100% / 3);
    padding: 0 $spacing $spacing 0;

    @include sizeMobile {
      flex-basis: 100%;
      max-width: initial;
      padding-right: 0;
    }
  }

  &.large .Gallery-item {
    width: calc(100% / 2);
  }
}
