@import '../../style/variables';
@import '../../style/media-queries';

$spacing: 20px;

.Photos {
  .Photo-wrapper {
    position: relative;
    display: block;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $accent-color;
      opacity: 0;
      transition: opacity $duration-medium;
    }

    &:hover {
      &:after {
        opacity: 0.5;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .Modal-content {
    display: flex;
    flex-direction: column;

    .Photos-highres-img {
      flex-grow: 1;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .Photos-highres-info {
      padding: $paragraph-margin 0;

      &-copyright {
        font-size: 14px;
        font-style: italic;
      }
    }
  }
}
