@import '../../style/variables';
@import '../../style/media-queries';

.Video {
  &-link {
    display: none;
    margin-bottom: $paragraph-margin;
    text-align: center;

    @include sizeMobile {
      display: block;
    }
  }

  &-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: calc(9 / 16 * 100%);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
