@import '../../../style/variables';
@import '../../../style/media-queries';

.MissingVoices {
  p {
    text-align: center;
  }

  img {
    width: 100%;
  }

  .gallery {
    display: flex;
    margin: 0 -20px -20px 0;

    @include sizeMobile {
      display: block;
      margin-right: 0;
    }

    &-item {
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 20px 20px 0;

      @include sizeMobile {
        padding-right: 0;
      }
    }
  }
}
