@import '../../style/fonts';
@import '../../style/media-queries';
@import '../../style/variables';

.Music {
  .Album {
    &-title {
      margin-bottom: $paragraph-margin;
      text-align: center;
    }

    img {
      display: block;
      max-width: 100%;
    }

    &-links {
      display: flex;
      margin-top: $paragraph-margin;

      @include sizeMobile {
        display: initial;
      }
    }

    &-link {
      display: block;
      flex-grow: 1;
      flex-basis: 0;
      margin: 0 $paragraph-margin / 2;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      @include sizeMobile {
        width: 100%;
        margin: 0;

        &:not(:last-child) {
          margin-bottom: $paragraph-margin / 2;
        }
      }

      button {
        @include fontText;
        width: 100%;
        padding: 8px;
        background-color: transparent;
        border: 1px solid $text-color;
        color: $text-color;
        font-size: 14px;
        text-transform: uppercase;
        transition: border-color $duration-fast, color $duration-fast, background-color $duration-medium;
        cursor: pointer;

        &:hover {
          border-color: $accent-color;
          color: $accent-color;
        }

        &.spotify {
          background-color: $spotify-color;
          border-color: $spotify-color;
          color: $text-color;

          &:hover {
            background-color: $spotify-color-hover;
            border-color: $spotify-color-hover;
          }
        }
      }
    }
  }
}
